@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i&display=swap&subset=cyrillic');
body {
    font-family: 'Montserrat', sans-serif;
}
.bg-dark-transparent {
    background: rgba(0,0,0,.35);
}
.bg-light-dark-transparent {
    background: rgba(0,0,0,.15);
}
.bg-custom-light {
    background-color: #d6d8db;
}
.border-radius {
    border-radius: 3px;
}
#main-navbar {
    height: 46px;
}
#main-block {
    background-image: url('/img/wallpapers/gamak_ozero_palmy_141715_1920x1080.jpg');
    background-size: cover;
    background-position: 50%;
    min-height: 100vh;
}
#board-header {
    height: 51px;
}
#board-body {
    overflow-x: auto;
    overflow-y: hidden;
    height: calc(100vh - 105px);
}
.list-item-wrapper {
    flex: 0 0 18%;
    min-width: 200px;
}
.list-item-wrapper:first-child {
    margin-left: 0 !important;
}
.list-item-wrapper:last-child {
    margin-right: 0 !important;
}
.btn-add-card {
    text-align: left;
    color: #5a6268;
}
.btn-add-column {
    text-align: left;
}